<div class='another-header'></div>
<div class='top-page-header'>
  <div class='app-name'>
    <a href='/'>Choose.</a>
  </div>
  <div class='header-right'>
    <div class='choose-cooking'>
      <a href='#'>お料理を決める</a>
    </div>
    <%# ログイン確認
    <div class='sign-up'>
      <a href='#'>ログイン</a>
    </div>
    <div class='rog-in'>
      <a href='#'>サインアップ</a>
    </div>
  %>
  </div>
</div>
<div class='main'>