<main>
<div class='another-header'></div>
<div class='top-page-header'>
    <%= link_to "Choose.", root_path, class: 'app-name' %>
  <div class='header-right'>
      <%= link_to "お料理を決める", chooseIndex_cookings_path, class: 'choose-cooking' %>

    <%# ログイン確認
    <div class='sign-up'>
      <a href='#'>ログイン</a>
    </div>
    <div class='rog-in'>
      <a href='#'>サインアップ</a>
    </div>
  %>
  
  </div>
</div>
<div class='main'>