<body>
  <%= render partial: "header" %>
  <div class='main'>
    <div class='content'>
      <div class='heading'>
        <div class='heading-text'>Chooseが、<br>あなたの晩ごはんを<br>選びます。</div>
        <br>
        <div class='rog-in-confirmation'>
          <a href='#'>ログイン</a>
          <a href='#'>サインアップ</a>
        </div>
      </div>
      <div class='main-text' , id='main-flame'>
        <div class='new-cooking'>
          新たにお料理を追加する
          <a href='cookings/new'>New Cooking</a>
        </div>
        <div class='cooking-index'>
          お料理一覧
        </div>
      </div>
    </div>
    <div class='side-bar' , id='main-flame'>
      <div class='recommendation'>今日のおすすめ</div>
    </div>
  </div>
  <%= render partial: "footer" %>
</body>