.top-page-footer{
  height: 100px;
  width: 100vw;
  background-color: #94adda;
  border-top: 5px solid #b2cbe4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #001e43;
  font-size: 18px;
  font-family: '筑紫A丸ゴシック';
  font-weight: bold;
}