.new-cooking-content{
  font-family: '筑紫A丸ゴシック';
  width: 800px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  .error-alert{
    text-align: center;
    font-size: 20px;
    color: #e8383d;
    font-weight: bold;
  }
  .form{
    margin: 30px;
  }
  .form-title{
    font-weight: bold;
    width: 450px;
    text-align: center;
    font-size: 30px;
    border-bottom: 3px dashed black;
    margin: 10px auto 60px;
  }
  .cooking-name{
    width: 80%;
    margin: 0 auto 0;
  }
  .form-heading{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
  }
  .cooking-text{
    font-size: 20px;
    width: 60%;
    padding: 0 15px;
    display: block;
    margin: auto;
    border: 1.5px solid black;
    border-radius: 15px;
    text-align: center;
  }
  .cat{
    width: 300px;
    margin: 0 auto 0;
  }
  .select-box{
    font-size: 20px;
    width: 50%;
    padding: 4px 15px;
    display: block;
    margin: auto;
    border: 1.5px solid black;
    border-radius: 15px;
    text-align: center;
  }
  .form-btn-content{
    margin: 50px 0 15px;
    .ok-btn{
      font-size: 20px;
      font-weight: bold;
      background-color: #ffedab;
      display: block;
      margin: auto;
      padding: 2px 15px;
      border: 1.5px solid black;
      border-radius: 15px;
      text-align: center;
    }
  }
}
