.show-cooking-content {
  width: 70%;
  font-family: "筑紫A丸ゴシック";

  .show-heading {
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    margin-bottom: 20px;
  }

  .show-half {
    display: flex;
    justify-content: space-between;

    .show-left {
      width: 50%;

      .cooking-frame {
        max-width: 450px;
      }
    }

    .show-right {
      width: 50%;

      .show-recipe {
        font-size: 28px;
        text-align: center;
      }

      border-left: 3px dashed rgba(0, 0, 0, 0.5);
      border-right: 3px dashed rgba(0, 0, 0, 0.5);
    }
  }

  .delete-cooking {
    text-align: center;
    margin-top: 50px;

    .delete-btn {
      font-size: 24px;
      color: white;
      background-color: #e8383d;
      padding: 5px 15px;
      border: 2px solid rgba(0, 0, 0, 0.5);
      border-radius: 10px;
    }
  }
}