.show-cooking-content {
  width: 70%;
  font-family: "筑紫A丸ゴシック";
  font-weight: bold;

  .show-heading {

    font-size: 42px;
    text-align: center;
    margin-bottom: 30px;
  }

  .show-half {
    display: flex;
    justify-content: space-between;

    .show-left {
      width: 50%;

      .cooking-image {
        width: 400px;
        margin: 25px auto;
        .cooking-frame {
          max-width: 400px;
          max-height: 400px;
        }
      }

      .ingredient {
        width: 400px;
        margin: 0 auto;
        border-left: 3px dashed rgba(0, 0, 0, 0.5);
        border-right: 3px dashed rgba(0, 0, 0, 0.5);

        .ingredient-title {
          text-align: center;
          font-size: 24px;
        }
      }
    }

    .show-right {
      width: 50%;

      .show-recipe {
        font-size: 24px;
        text-align: center;
      }

      border-left: 3px dashed rgba(0, 0, 0, 0.5);
      border-right: 3px dashed rgba(0, 0, 0, 0.5);
    }
  }

  .delete-cooking {
    text-align: center;
    margin-top: 50px;

    .delete-btn {
      font-size: 20px;
      color: white;
      background-color: #e95464;
      padding: 5px 15px;
      border: 2px solid rgba(0, 0, 0, 0.5);
      border-radius: 10px;
    }
  }
}